---
import Header from "../components/header.astro";
import Hero from "../components/hero.astro";
import Info from "../components/info.astro";
import Map from "../components/map.astro";
import About from "../components/about.astro";
import ImgFood1 from "../components/imgFood1.astro";
import ImgFood2 from "../components/imgFood2.astro";
import Menu from "../components/menu.astro";
import Tables from "../components/tables.astro";
import Press from "../components/press.astro";
import Caffe1 from "../components/caffee1.astro";
import Caffe2 from "../components/caffe2.astro";
import Jobs from "../components/jobs.astro";
import Contact from "../components/contact.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style is:global>
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden;
      font-family: system-ui, sans-serif;
    }
  </style>
  <body>
    <Header />
    <Hero />
    <Info />
    <Map />
    <ImgFood1 />
    <About />
    <ImgFood2 />
    <Menu />
    <Tables />
    <Press />
    <Caffe1 />
    <Jobs />
    <Caffe2 />
  </body>
</html>
