---
import food from "../assets/food1.jpg?url";
---

<div class="container-food">
  <Image
    class="image-food"
    src={food}
    alt="Food Image"
    width={1600}
    height={900}
  />
</div>

<style>
  .container-food {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .image-food {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* 📱 MOBILE */
  @media (max-width: 1023px) {
    .container-food {
      height: 45vh;
      min-height: 250px;
    }
  }
</style>
